<!-- Additional Voucher Details -->
									<div class="ens_popup"> 
										<div class="ens_popup_header">
											<h6>Voucher Details</h6>
										</div>
										<div class="ens_popup_body">
											<div class="col s12">
												<label for="agent_name" class="">Agent Name</label>
												<input type="text" name="agent_name" id="agent_name" value="{{ $quotation[0]->agent_name }}">
											</div>
											<div class="col s12">
												<label for="confirmed_by" class="">Confirmed By</label>
												<input type="text" name="confirmed_by" id="confirmed_by" value="">
											</div>
											<div class="col s12">
												<label for="advance_received" class="">Advance Received</label>
												<input type="number" name="advance_received" id="advance_received" value="">
											</div>
											<div class="col s12">
												<label for="balance" class="">Balance</label>
												<input type="text" name="balance" id="balance" value="">
											</div>
											<div class="col s12">
												<label for="voucher_note" class="">Note</label>
												<textarea name="voucher_note" id="voucher_note"></textarea>
											</div>
										</div>
										<div class="ens_popup_footer">
											<button type="button" class="btn waves-effect gradient-45deg-red-pink waves-light b-close" style="color: rgb(255, 255, 255);">Done</button>
										</div>
									</div>
								<!-- /Additional Voucher Details -->